PORT=
TYPEORM_HOST=
TYPEORM_PORT=
TYPEORM_DATABASE=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
AUTH_JWT_SECRET_KEY=

MAIL_PORT=2525
MAIL_PROTOCOL=smtp
MAIL_HOST=
MAIL_USER=

AUTH_JWT_ACCESS_SECRET_KEY=RANDOM_STRING_1
AUTH_JWT_REFRESH_SECRET_KEY=RANDOM_STRING_2
AUTH_ENABLE_DEFAULT_CODE=

NOTIFIER_SMS_RU_API_ID=

NEST_DEBUG=0

SWAGGER_URL=/api/docs
SWAGGER_USER=testUser
SWAGGER_PASSWORD=
