{
    "extends": [
        "@steroidsjs/eslint-config"
    ],
    "rules": {
        "import/prefer-default-export": "off",
        "no-useless-constructor": "off",
        "class-methods-use-this": "off",
        "no-await-in-loop": "off",
        "linebreak-style": "off",
        "no-restricted-syntax": "off",
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "semi",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter": "comma",
                    "requireLast": false
                }
            }
        ]
    },
    "env": {
        "node": true
    }
}
