{
    "extends": [
        "@steroidsjs/eslint-config/backend"
    ],
    "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.ts"] }],
        "prettier/prettier": "off"
    },
    "ignorePatterns": [
        "src/**/migrations/*.ts"
    ]
}
